*{ /* Controls the margin, padding, box size and font family */
  margin:0; padding:0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;

  text-decoration: none;
}

body{
  background: #eeeeee;
}

header{ /* Controls almost everthing about the headers look*/
  position: absolute;
  top:0; left: 0; right:0;
  background: #dfdfdf;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding:0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo{  /* Controls Logo */
  font-size: 32px;
  z-index: 102;
}

header .navbar ul{ /* Does nothing but place holder */
  list-style: none;
} 

header .navbar ul li{ /* Puts this side by side instead of top to bottom */
  position: relative;
  float: left;
} 


header .navbar ul li a{ /* Controls Spacing between hyperlink text, text color, and size */
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
} 

header .navbar ul li a:hover{ /* Controls the colors for when you hover over hyper link text */
  background: #333;
  color: #fff;
}

header .navbar ul li ul{ /* Controls the way it is lined up, the background color and the width */
  position: absolute;
  left:0;
  width:200px;
  background: #dfdfdf;
  display: none;
}

header .navbar ul li ul li{ /* Controls the width between the text and creates the borders between the text */
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{ /* Only for a 2nd dropdown in a dropdown */
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
header .navbar ul li:focus-within > ul, /* Makes it so if you add a dropdown inside a drop down it works */
header .navbar ul li:hover > ul{ /* Makes sure the dropdown inside drop apears */
  display: initial;
}

#menu-bar{ /* Hides the checkbox */
  display: none;
}

header label{  /* Controls font size, color and if pointer is apeared for hamburger */
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}





@media(max-width:991px){
  header{ /* Increases how tall the header is when on phone */ 
      padding: 20px;
  }

  header label{ /* Makes hamburger apear */
      display: initial;
  }

  header .navbar{ /* Controls the header on mobile */
      position: absolute;
      top: 100%; left:0; right:0;
      background:#dfdfdf;
      border: 1px solid rgba(0, 0, 0, .1);
      display:none;
  }

  header .navbar ul li{ /* Makes go from top to bottom instead of left to right */
      width:100%;
  }

  header .navbar ul li ul{ /* Makes it so the drop dowan works while on mobile */
      position: relative;
      width: 100%;
  }

  header .navbar ul li ul li{ /* Makes the dropdown(s) a different color */
      background: #c4c4c4;
  }

  header .navbar ul li ul li ul{ /* To make a dropdown inside a dropdown work */
      width: 100%;
      left:0;
  }

  #menu-bar:checked ~ .navbar{ /* Makes the header apear when hamburger clicked */
      display: initial;
  }

}
